---
layout: default
---
<style type="text/css">
  .wrapper {
    max-width: 100%;
  }
  .page-link {
    visibility: hidden;
  }
  img.post-thumbnail {
    float:right;
  }
  .post-content {
    font-size: 18px;
  }
  .page-content blockquote {
    font-size: 0.75em;
  }
  @media print {
    .page-content h2 {
      font-weight: bold;
      float: left;
      padding: 0.4em;
    }
    img.post-thumbnail {
      width: 20em;
    }
    footer {
      display: none;
    }
  }
</style>

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y %H:%M" }}-{{ page.enddate | date: "%H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>


  <article class="post-content">
    <img src="{{ page.thumbnail | prepend: site.baseurl }}" class="post-thumbnail"/>
    <h2>
      {{ page.date | date: "%b %-d, %Y %H:%M" }}-{{ page.enddate | date: "%H:%M" }}
      <br/>
      @ {{ page.location}}
    </h2>
    {{ content }}
  </article>

  <script>
    // setTimeout(function(){ document.location.reload(); }, 2000);
  </script>


</div>
