---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y %H:%M" }}-{{ page.enddate | date: "%H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>


  <article class="post-content">
    <img src="{{ page.thumbnail | prepend: site.baseurl }}" class="post-thumbnail"/>
    <h2>
      {{ page.date | date: "%b %-d, %Y %H:%M" }}-{{ page.enddate | date: "%H:%M" }}
      <br/>
      @ {{ page.location}}
    </h2>
    {{ content }}
  </article>


  <script>
    // setTimeout(function(){ document.location.reload(); }, 2000);
  </script>
</div>
